@model Ignis.Models.Vehicle

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FireStation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FireStation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfPurchase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfPurchase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CapacityFuelTank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapacityFuelTank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SanctionOrderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanctionOrderNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SanctionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanctionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheoreticalMileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheoreticalMileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KilometersCovered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KilometersCovered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CapacityOfAttachement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapacityOfAttachement)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
