@model IEnumerable<Ignis.Models.FireStationDamage>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateNoticed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Report)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostEstimate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FireStationDamageType.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateNoticed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Report)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostEstimate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FireStationDamageType.Description)
            </td>
            <td>
                @Html.ActionLink("Details", "ViewTicket", new { id = item.FireStationDamageStatues.OrderBy(x => x.DateOfArrival).First().Id })
            </td>
        </tr>
    }

</table>