@model Ignis.Models.Office

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FireStation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FireStation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<div class="row">
    @if (TempData.Keys.Contains("FireExtinguishingEquipmentImages"))
    {
        <div class="row">
            @foreach (Ignis.Models.ImageViewModel image in (List<Ignis.Models.ImageViewModel>)TempData["FireExtinguishingEquipmentImages"])
            {
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href="@Url.Content(Ignis.Util.Constants.OFFICE_UPLOAD_BASE_PATH + image.FilePath)" target="_blank">
                            <img src="@Url.Content(Ignis.Util.Constants.OFFICE_UPLOAD_BASE_PATH + image.FilePath)" alt="" style="width:100%" />
                            <div class="caption">
                                <p>@image.Description</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    }
</div>