@model IEnumerable<Ignis.Models.DamageStatus>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CaseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfArrival)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfLeaving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Official)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CaseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfArrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfLeaving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Official)
            </td>
            <td></td>
        </tr>
    }

</table>

