@model Ignis.Models.Count

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Count</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FireStation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FireStation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rank.RankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rank.RankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sanctioned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sanctioned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alloted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alloted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
